<a href="https://colab.research.google.com/github/CyruzCabilan/VDA-CPE031-CPE21S4/blob/main/Exercise3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Example **1**

In [12]:
import pandas

mydataset = {
"animals": ["Cat", "Dog", "Rabbit"],
"height": [13, 17, 8]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

# **Example 2**

In [13]:
import pandas as pd

a = [1,7,2]

myvar = pd.Series(a)

print(myvar[0])

1

# **Example 3**

In [22]:
import pandas as pd

data ={
    "age":[42,38,39],
    "weight":[50,40,45]
}

myvar = pd.DataFrame(data)
print(myvar.loc[0])
print(myvar.loc[[0,1,2]])

age       42
weight    50
Name: 0, dtype: int64
   age  weight
0   42      50
1   38      40
2   39      45

# **Example 4**

In [24]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1,s2,s3])
df = dframe.drop([0])
print(dframe)

   0  1   2
0  0  4   8
1  1  5   9
2  2  6  10

# **Example 5**

In [27]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

#creating table multi-dimensional table
dframe = pd.DataFrame([s1,s2,s3,s4],index =[0,1,2,3], columns =[0,1,2])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

# **Challenge**

In [40]:
#How are you going delete indices no 0,1,3 leaving only all items in index 2?

import pandas as pd

dframe = pd.DataFrame(index=[0,1,2,3], columns=[0,2,1,1])
s1 =pd.Series([3,5,6])
s2 =pd.Series([6,4,2])
s3 =pd.Series([3,5,8])
s4 =pd.Series([4,8,6])
s5 =pd.Series([10,8,8])
dframe=pd.DataFrame([s1,s2,s3,s4,s5], index=[0,1,2,3,4], columns=[0,1,2,3])
dframe=pd.DataFrame([s1,s2,s3,s4,s5])
dframe=pd.DataFrame.drop(dframe, [0,1,3])
print(dframe)

    0  1  2
2   3  5  8
4  10  8  8