<a href="https://colab.research.google.com/github/CyruzCabilan/VDA-CPE031-CPE21S4/blob/main/Prelim_Q11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
s1 =pd.Series ([78,84,86])
s2 =pd.Series ([85,94,97])
s3 =pd.Series ([96,89,96])
s4 =pd.Series ([80,83,72])
s5 =pd.Series ([86,82,83])

dframe = pd.DataFrame([s1,s2,s3,s4,s5],index =[0,1,2,3,4], columns =[0,1,2])
print(dframe)


    0   1   2
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  82  83

    0   1   2
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  82  83

# **Write a Pandas program to delete Data Frame row(s) based on given column value.**

In [12]:
import pandas as pd
s1 =pd.Series ([1,4,7])
s2 =pd.Series ([4,5,8])
s3 =pd.Series ([3,6,9])
s4 =pd.Series ([4,7,0])
s5 =pd.Series ([5,8,1])

dframe = pd.DataFrame([s1,s2,s3,s4,s5],index =[0,1,2,3,4], columns =[0,1,2])
dframe = pd.DataFrame.drop(dframe, [1])
print(dframe)

   0  1  2
0  1  4  7
2  3  6  9
3  4  7  0
4  5  8  1